<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bookDao" class="com.greta.cda.library.dao.BookDaoInMemory">
    </bean>

    <bean id="bookService" class="com.greta.cda.library.service.BookService">
        <constructor-arg name="bookDao" ref="bookDao"></constructor-arg>
    </bean>

    <bean id="cliController" class="com.greta.cda.library.cli.CliController">
        <constructor-arg name="bookService" ref="bookService"></constructor-arg>
    </bean>

</beans>